<header class="header">
    <div class="container header-container">
        <a href="index.html" class="logo">
            <span class="logo-icon">M</span>
            <span>Pro<span class="logo-accent">Niah</span></span>
        </a>
        
        <button class="mobile-menu-btn">
            <i class="fas fa-bars"></i>
        </button>
        
        <nav class="nav">
            <a href="index.html" class="nav-link">Accueil</a>
            <a href="about.html" class="nav-link">À propos</a>
            <a href="projects.html" class="nav-link">Projets</a>
            <a href="experiences.html" class="nav-link">Experiences</a>
            <a href="blog.html" class="nav-link">Notes</a>
            <a href="contact.html" class="nav-link">Contact</a>
        </nav>
    </div>
</header>